<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">

      <img src="students/<%=student.img%>"/>
      Name: <%=student.firstName%> <%=student.lastName%>
      Year: <%=student.year%>
      Major: <%=student.major%>
      About Me: <%=student.about%>
      Why I'm taking this course: <%=student.course%>
      I'm most excited to write: <%=student.genre%>



    </div>
  </body>
</html>
